- const aboutPic = require('../images/about-me-pic.jpg?size=170');

section(routeTarget="about" class="about section--base el--hidden")
  nav(class="route-links")
    ul(class="route-links__menu")
      a(routeTo="/")
        li Home
      a(routeTo="projects")
        li Projects
      a(routeTo="contributions")
        li Contributions
      a(href="http://coder-rising.blog/" target="_blank" rel="noopener" class="box-shadow--std")
        li Blog
  .about__content.box-shadow--std
    article(class="about__me")
      header
        img(src=`${aboutPic.src}` alt="about-me-pic")
        h2(class="section__header") About me
      p I develop user interfaces for web applications.  I enjoy what I do because I believe technology is a tool that we can use to unlock human potential.  I think this is true not just for the users of the technology, but also for the individuals that develop that technology as well.
      p(class="emphasized-paragraph") The more we learn and the more we help each other learn, the better we become as individuals and a community!
      p I use <strong>front end web technologies</strong> as well as <strong>Node.js</strong> + <strong>serverless</strong> services as the tools for my craft. 
      p Some fun facts about me are that 1) I'm from an island but I don't like seafood 2) My first name means "The One Who Wanders" in Hawaiian and 3) When not coding, you can find me taking care of my family or playing Final Fantasy.
    article
      h2(class="section__header") Design choices
      p With every project I do, I work to strike a balance between using new features such as <strong>CSS Grid</strong> or <strong>async functions</strong> while not excluding users who may not be on the latest devices and browsers.
      p I use tools such as <strong>Webpack</strong>, <strong>Babel</strong>, <strong>PostCSS</strong>, and <strong>Browsersync</strong> to make sure the features I decide to use work in all the environments I aim to support.   This portfolio and all the projects in it are responsive and work in the major browsers such as Firefox, Chrome, Safari and even Internet Explorer 11!
      p Thanks for viewing and I hope you have a good experience.