nav(class="route-links--splash box-shadow--std")
  h2 Learn more
  ul
    a(routeTo="about" class="box-shadow--std")
      li About
    a(routeTo="projects" class="box-shadow--std")
      li Projects
    a(routeTo="contributions" class="box-shadow--std" id="splash-contributions-btn")
      li Contributions
    a(href="http://coder-rising.blog/" target="_blank" rel="noopener" class="box-shadow--std")
      li Blog