doctype html
html(lang="en")
  head
    title Kalalau Cantrell
    //- link(rel="stylesheet", href="main.css")
    link(rel="apple-touch-icon", sizes="180x180", href="apple-touch-icon.png")
    link(rel="apple-touch-icon-precomposed", sizes="180x180", href="apple-touch-icon-precomposed.png")
    link(rel="icon", type="image/png", sizes="32x32", href="favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="favicon-16x16.png")
    link(rel="manifest", href="site.webmanifest")
    link(rel="mask-icon", href="safari-pinned-tab.svg", color="#5bbad5")
    link(rel="icon" href="favicon.ico" type="image/x-icon")
    link(rel="shortcut icon" href="favicon.ico" type="image/ico")
    meta(name="msapplication-TileColor", content="#2d89ef")
    meta(name="theme-color", content="#1800e3")
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
  body
    include src/includes/branding
    main(id="portfolio")
      button(class="menu-btn el--hidden") Menu
      include src/includes/splash
      include src/includes/about
      include src/includes/projects
      include src/includes/contributions
    include src/includes/footer
    //- script(src="app.bundle.js")