@import './variables.css';

.header {
  position: relative;
  width: 100%;
}

.content {
  text-align: left;
  width: 85%;
  font-size: 1.1rem;
  line-height: 2rem;
  margin-top: 40px;

  @media (--phone) {
    margin-top: 0;
    font-size: 1rem;
  }
}

.blockQuote {
  height: 50px;
  display: flex;
  align-items: center;

  & p {
    margin-left: 3vw;
  }
}
