@import './variables.css';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: -10vh;
}

.headerAccent {
  color: var(--accent-color);
  margin-left: 12px;
}

.titles {
  display: flex;
  align-items: center;

  & p {
    margin: 0 10px;
    font-size: 1rem;
  }

  @media screen and (--phone) {
    flex-direction: column;

    & p {
      font-size: 0.9rem;
    }
  }
}
