:root {
  box-sizing: border-box;

  --blue: rgba(66, 66, 173, 0.699);
  --black: rgb(39, 39, 39);
  --dark-background: rgba(0, 0, 0, 0.144);

  color: var(--black);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-image: url("../images/graph-paper.svg"),
    linear-gradient(to right bottom, #4242ad, #776ec3, #a59cd8, #fff);
  background-repeat: repeat;
}

.splash {
  width: 70%;
  max-width: 600px;
  min-width: 350px;
  margin: auto;
  padding: 30px;
  display: grid;
  -ms-grid-columns: 1fr 20px minmax(150px, 1fr);
  grid-template-columns: 1fr minmax(150px, 1fr);
  -ms-grid-rows: 250px 20px 50px 20px 30px;
  grid-template-rows: 250px 50px 30px;
  grid-gap: 20px;
}

.splash__profile {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  margin: 0;
  background-image: url("../images/profile-pic.jpg");
  background-position: center;
  background-size: cover;
}

.splash__greeting {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-background);
}

.splash__title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / -1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-shadow: 1px -1px 0 #777, 0 1px 2px rgba(0, 0, 0, 0.4);
}

.splash__links {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 3 / -1;
}

.splash__links > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.splash__links a {
  flex-grow: 1;
  max-width: 25%;
  margin-right: 5px;
  border: 1px solid var(--black);
  color: var(--black);
  text-decoration: none;
}

.splash__links a:last-child {
  margin-right: 0;
}

.splash__links li {
  padding: 15px 0;
  text-align: center;
}
