@font-face {
  font-family: "Operator Mono";
  src: url("../fonts/OperatorMono-Medium.otf") format("OpenType");
}

:root {
  box-sizing: border-box;

  --blue: rgb(24, 0, 227);
  --orange: rgb(255, 156, 0);
  --black: rgb(39, 39, 39);
  --light-background-transparent: rgba(255, 255, 255, 0.274);
  --dark-background-transparent: rgba(0, 0, 0, 0.123);
  --transparent-shadow: rgba(0, 0, 0, 0.4);

  color: var(--black);
  font-family: "Operator Mono", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-image: url("../images/hexagonsFIXED.svg"),
    linear-gradient(
      to right bottom,
      #1800e3,
      #0048ed,
      #006beb,
      #3f88e2,
      #79a2d4
    );
  background-repeat: repeat;
  background-attachment: fixed;
}

main {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.route-links > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.route-links a {
  min-width: 145px;
  width: 22%;
  background-color: var(--light-background-transparent);
  font-size: 1.2rem;
  color: var(--black);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
}

.route-links li {
  padding: 15px 0;
  text-align: center;
}

.section--base {
  width: 70%;
  max-width: 900px;
  min-width: 350px;
  margin: 0 auto;
  padding: 60px 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / -1;
}

.section--hidden {
  display: none;
  visibility: hidden;
}

.splash {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 20px minmax(150px, 2fr);
  grid-template-columns: 3fr minmax(150px, 2fr);
  -ms-grid-rows: 53vh 20px 23vh 20px 10vh 20px 540px 60px;
  grid-template-rows: 53vh 23vh 10vh 540px;
  grid-gap: 20px;
}

.splash__profile {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  margin: 0;
  background-image: url("../images/profile-pic.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px var(--black), 0 0 20px var(--dark-background-transparent);
}

.splash__greeting {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  background-color: var(--dark-background-transparent);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--black), 0 0 20px var(--dark-background-transparent);
}

.splash__greeting > p {
  margin: 0;
}

.splash__title {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / -1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  width: 100%;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-row-align: center;
  align-self: center;
  text-align: center;
  margin: 0;
  font-size: 3rem;
  font-weight: 100;
  text-shadow: 0 -1px 40px var(--orange), 0 2px 2px var(--transparent-shadow);
}

.splash__arrow {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 3 / 4;
  -ms-grid-column-align: center;
  justify-self: center;
}

.route-links--home {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 3;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 4 / -1;
  padding: 0;
  background-color: var(--dark-background-transparent);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--black), 0 0 20px var(--dark-background-transparent);
}

.route-links--home > ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  width: 60%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.route-links--home a {
  width: 200px;
  height: 200px;
  background-color: var(--light-background-transparent);
  font-size: 1.75rem;
  color: var(--black);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.route-links--home li {
  text-align: center;
}

.about > h2 {
  text-align: center;
  font-size: 3rem;
  font-style: italic;
}

.projects > h2 {
  text-align: center;
  font-size: 3rem;
  font-style: italic;
}

.projects__gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.projects__item {
  flex-shrink: 0;
  margin: 10px;
  width: 250px;
  height: 250px;
  border: 1px solid var(--black);
}

.publications > h2 {
  text-align: center;
  font-size: 3rem;
  font-style: italic;
}

.publications__list {
  margin: auto;
  width: 70%;
}

.publications__item {
  border: 1px solid var(--black);
  height: 100px;
  margin-bottom: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 3fr;
  grid-template-columns: 2fr 3fr;
  -ms-grid-row: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

.publications__item-thumb {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / -1;
  border: 1px solid var(--black);
  -ms-grid-column-align: center;
  -ms-grid-row-align: center;
}

.publications__item-description {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / -1;
  border: 1px solid var(--black);
  margin: 0;
  -ms-grid-column-align: center;
  -ms-grid-row-align: center;
}

.ms-padding-bottom {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  -ms-grid-row: 9;
  -ms-grid-row-span: 1;
}
